@import url('research-sprite.css');
@import url('../css/vendor/line-icons/line-icons.css');
@import url('../css/vendor/font-awesome-4.3.0/css/font-awesome.min.css');

.panel-heading {
    background: #585f69 !important;
}

.panel-blue {
    border-color: #585f69;
}

.box-content {
    padding: 15px !important;
}

.large-font {
    font-size: 24px !important;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 14px;
    margin: 22px 0;
    color: white;
}

.mission-text {
    text-align: left !important;
}

.small-font {
    font-size: 24px !important;
}

.mission-msg {
    box-sizing: border-box !important;
    float: left !important;
    height: 100% !important;
    padding-right: 30px !important;
    position: relative !important;
    width: 50% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
}

.mission {
    padding-right: 80px!important;
}

.divider {
    background: #fff !important;
    bottom: 200px !important;
    left: 50% !important;
    position: absolute !important;
    top: 150px !important;
    width: 1px !important;
}

div {
    display: block;
}

.content {
    margin: 0 auto;
    max-width: 1420px;
    padding-left: 55px!important;
    padding-top: 45px!important;
    padding-bottom: 45px!important;
    padding-right: 45px !important;
    background: #3498db;
}

label {
    color: white;
    font-weight: normal;
}

.form-donation {
    float: right !important;
    padding-left: 30px !important;
    width: 50% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    display: block !important;
    font-size: 14px !important;
}

.btn-primary {
    background-color: transparent;
    border-color: white;
}

.btn-primary.active {
    background-color: white;
    border-color: white;
    color: #3498db;
}

.btn-primary.hover {
    background-color: transparent;
    border-color: white;
    color: white;
}

/*.btn-width-row1 {
    padding: 10px 86px;
}

.btn-width-row2 {
    padding: 10px 24px;
}*/

.btn-group {
    padding-bottom: 15px;
}

.form-group {
    margin-top: 0px;
}

#paypal {
    margin-top: 30px;
    color: white;
}