/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.fmf-clean24 {
  background-image: url(index.png);
  background-position: 0px -78px;
  width: 24px;
  height: 24px;
}
.fmf-close24 {
  background-image: url(index.png);
  background-position: -24px -78px;
  width: 24px;
  height: 24px;
}
.fmf-features24 {
  background-image: url(index.png);
  background-position: -48px -78px;
  width: 24px;
  height: 24px;
}
.fmf-feedback24 {
  background-image: url(index.png);
  background-position: -72px -78px;
  width: 24px;
  height: 24px;
}
.fmf-findmyfamiliesbottom {
  background-image: url(index.png);
  background-position: 0px 0px;
  width: 252px;
  height: 39px;
}
.fmf-findmyfamiliestop {
  background-image: url(index.png);
  background-position: 0px -39px;
  width: 252px;
  height: 39px;
}
.fmf-help24 {
  background-image: url(index.png);
  background-position: -96px -78px;
  width: 24px;
  height: 24px;
}
.fmf-submit24 {
  background-image: url(index.png);
  background-position: -120px -78px;
  width: 24px;
  height: 24px;
}
