/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.fmf-About-2 {
  background-image: url(index.png);
  background-position: -595px -525px;
  width: 28px;
  height: 28px;
}
.fmf-About {
  background-image: url(index.png);
  background-position: -679px -500px;
  width: 16px;
  height: 16px;
}
.fmf-Ancestry {
  background-image: url(index.png);
  background-position: -711px -500px;
  width: 16px;
  height: 16px;
}
.fmf-Computer2 {
  background-image: url(index.png);
  background-position: 0px -500px;
  width: 595px;
  height: 357px;
}
.fmf-accent {
  background-image: url(index.png);
  background-position: -595px -500px;
  width: 60px;
  height: 25px;
}
.fmf-accept {
  background-image: url(index.png);
  background-position: -695px -500px;
  width: 16px;
  height: 16px;
}
.fmf-appsbrowser {
  background-image: url(index.png);
  background-position: -655px -500px;
  width: 24px;
  height: 24px;
}
.fmf-bg2 {
  background-image: url(index.png);
  background-position: 0px 0px;
  width: 1920px;
  height: 500px;
}
.fmf-findmyfamilies_new1-4 {
  background-image: url(index.png);
  background-position: 0px -857px;
  width: 380px;
  height: 438px;
}
