@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.StyleSheet("help.css")" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400)">
}

<div class="panel panel-blue margin-top-0">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-tasks"></i> Help
        </h3>
    </div>
    <div class="panel-body">

        <!--=== help Page ===-->
        <!--=== Content Part ===-->
        <div class="container content help-content-padding">
            <div class="row">
                <div class="col-md-9">
                    <div class="headline"><h2>Help Topics</h2></div>
                    <div class="row help-page">
                        <div class="col-md-2 inside-content">
                            <a class="fancyboxvideo fitVideo" data-width="800" data-height="450" caption="" href="http://player.vimeo.com/video/136152023?title=0&amp;byline=0&amp;portrait=0"><img src="../../Images/FamilyHistoryCourse1.8.png" class="img-responsive hover-effect" alt="" /></a>
                        </div>
                        <div class="col-md-10">
                            <h3>
                                <a class="fancyboxvideo fitVideo" data-width="800" data-height="450" caption="" href="http://player.vimeo.com/video/136152023?title=0&amp;byline=0&amp;portrait=0">Family History Course 1</a>
                            </h3>
                            <ul class="list-inline">
                                <li><i class="fa fa-film color-green"></i> Video</li>
                                <li><i class="fa fa-file-pdf-o color-green"></i> Presentation</li>
                            </ul>
                            <p>This is the first of eight courses that have been recorded in a Sunday School class for anyone that was unable to take the class because other conflicts, or for those that have already taken the class and would like to go back and review this video to help them with their own family history work.</p>
                            <p>This video primarily introduces the concept of Family History work, where Family History work is really all about families, and that it is a very important work that is strongly encouraged by our church leaders.</p>
                            <p><a class="helpDialog" data-fancybox-type="iframe" href="~/Content/person.pdf">PDF version of Presentation</a></p>
                        </div>
                    </div>
                    <div class="row help-page">
                        <div class="col-md-2 inside-content">
                            <a class="fancyboxvideo fitVideo" data-width="800" data-height="450" caption="" href="http://player.vimeo.com/video/136152023?title=0&amp;byline=0&amp;portrait=0"><img src="../../Images/FamilyHistory1stConvert8.png" class="img-responsive hover-effect" alt="" /></a>
                        </div>
                        <div class="col-md-10">
                            <h3>
                                <a class="fancyboxvideo fitVideo" data-width="800" data-height="450" caption="" href="http://player.vimeo.com/video/136152023?title=0&amp;byline=0&amp;portrait=0">Find 1st Convert</a>
                            </h3>
                            <ul class="list-inline">
                                <li><i class="fa fa-map-marker color-green"></i> USA</li>
                                <li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
                                <li><i class="fa fa-briefcase color-green"></i> Web Design &amp; Development</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                            <p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
                        </div>
                    </div>
                    <div class="text-center md-margin-bottom-30">
                        <ul class="pagination">
                            <li><a href="#"><<</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>
                    <!-- End Pagination -->
                </div><!--/col-md-9-->

                <div class="col-md-3 help-content-padding">
                    <!-- Popular Topics -->
                    <div class="col-md-12 popular-content-body">
                        <div class="headline"><h2>Popular</h2></div>
                        <div class="row main-check margin-bottom-30">
                            <div class="col-xs-12 md-margin-bottom-20 inside-content">
                                <ul class="list-unstyled check-style popular-content-size">
                                    <li><i class="fa fa-angle-right color-green"></i> <a href="#">Family History Course 1</a></li>
                                    <li><i class="fa fa-angle-right color-green"></i> <a href="#">Finding 1st Convert</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/col-md-12-->
                    <!-- End Popular Topics -->
                </div><!--/col-md-3-->
            </div><!--/row-->
        </div><!--/container-->
        <!--=== End Content Part ===-->
        <!--=== End help Page ===-->

    </div>
</div>

<div id="displayPersonForm"></div>

@section Scripts {
    <script type="text/javascript">require(['main'], function (main) { require(['helpController']); });</script>
}

