<?xml version="1.0" encoding="utf-8" ?> 
<dataSettings>
    <dataProviders>
        <dataProvider name="SqlClient" 
            connectionType="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            commandType="System.Data.SqlClient.SqlCommand, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            parameterType="System.Data.SqlClient.SqlParameter, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            parameterDbType="System.Data.SqlDbType, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            parameterDbTypeProperty="SqlDbType"
            dataAdapterType="System.Data.SqlClient.SqlDataAdapter, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            commandBuilderType="System.Data.SqlClient.SqlCommandBuilder, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            />
    </dataProviders>
    <dataSources>
        <dataSource name="FindMyFamilies" default="true"
            provider="SqlClient"
            connectionString="Server=192.168.0.22;Database=findmyfamilies;User ID=fmfadmin;Password=X78UT56"
            dataOperationsDir="C:\Dev\source\FindMyFamilies\Resources\Server"
            dataOperationsFileMask="SqlClient.Commands*.FindMyFamilies.config" 
            /> 
    </dataSources>
    <transactionHandlers>
        <transactionHandler name="HomeGrown" default="true"
            handlerType="FindMyFamilies.TransactionHandling.HomeGrownTransactionHandler"
        />
    </transactionHandlers>
</dataSettings>
