<?xml version="1.0" encoding="utf-8" ?>
<dataOperations>
<dataCommand name="CreateNextID" type="StoredProcedure">
		<commandText>cl_NextID_Create</commandText>
		<parameters>
			<param name="@next_val" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateNextID" type="StoredProcedure">
		<commandText>cl_NextID_Update</commandText>
		<parameters>
			<param name="@table_id" type="VarChar" size="50" direction="Input" />
			<param name="@next_val" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteNextID" type="StoredProcedure">
		<commandText>cl_NextID_Delete</commandText>
		<parameters>
			<param name="@table_id" type="VarChar" size="50" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadNextID" type="StoredProcedure">
		<commandText>cl_NextID_Read</commandText>
		<parameters>
			<param name="@table_id" type="VarChar" size="50" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllNextIDs" type="StoredProcedure">
		<commandText>cl_NextID_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateReport" type="StoredProcedure">
		<commandText>cl_Report_Create</commandText>
		<parameters>
			<param name="@report_date" type="DateTime" size="8" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
			<param name="@report_by" type="VarChar" size="15" direction="Input" />
			<param name="@report_file" type="NVarChar" size="200" direction="Input" />
			<param name="@report_description" type="VarChar" size="200" direction="Input" />
			<param name="@emailed" type="Bit" size="1" direction="Input" />
			<param name="@private" type="NVarChar" size="200" direction="Input" />
			<param name="@private_view" type="NVarChar" size="200" direction="Input" />
			<param name="@report_type" type="VarChar" size="20" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateReport" type="StoredProcedure">
		<commandText>cl_Report_Update</commandText>
		<parameters>
			<param name="@report_id" type="Int" size="4" direction="Input" />
			<param name="@report_date" type="DateTime" size="8" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
			<param name="@report_by" type="VarChar" size="15" direction="Input" />
			<param name="@report_file" type="NVarChar" size="200" direction="Input" />
			<param name="@report_description" type="VarChar" size="200" direction="Input" />
			<param name="@emailed" type="Bit" size="1" direction="Input" />
			<param name="@private" type="NVarChar" size="200" direction="Input" />
			<param name="@private_view" type="NVarChar" size="200" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteReport" type="StoredProcedure">
		<commandText>cl_Report_Delete</commandText>
		<parameters>
			<param name="@report_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadReport" type="StoredProcedure">
		<commandText>cl_Report_Read</commandText>
		<parameters>
			<param name="@report_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
    <dataCommand name="ReadReportsByReportBy" type="StoredProcedure">
        <commandText>cl_Report_Read_By_Report</commandText>
        <parameters>
            <param name="@report_by" type="VarChar" size="15" direction="Input" />
            <param name="@report_type" type="VarChar" size="15" direction="Input" />
            <param name="@language_id" type="VarChar" size="10" direction="Input" />
        </parameters>
    </dataCommand>
    <dataCommand name="ReadAllReports" type="StoredProcedure">
		<commandText>cl_Report_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateTranslation" type="StoredProcedure">
		<commandText>cl_Translation_Create</commandText>
		<parameters>
			<param name="@translation_detail_id" type="Int" size="4" direction="Input" />
			<param name="@translation_text" type="NVarChar" size="4000" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateTranslation" type="StoredProcedure">
		<commandText>cl_Translation_Update</commandText>
		<parameters>
			<param name="@translation_id" type="Int" size="4" direction="Input" />
			<param name="@translation_detail_id" type="Int" size="4" direction="Input" />
			<param name="@translation_text" type="NVarChar" size="4000" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteTranslation" type="StoredProcedure">
		<commandText>cl_Translation_Delete</commandText>
		<parameters>
			<param name="@translation_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadTranslation" type="StoredProcedure">
		<commandText>cl_Translation_Read</commandText>
		<parameters>
			<param name="@translation_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllTranslations" type="StoredProcedure">
		<commandText>cl_Translation_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadTranslationsAllList" type="StoredProcedure">
		<commandText>cl_Translation_ReadAllList</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateTranslationDetail" type="StoredProcedure">
		<commandText>cl_TranslationDetail_Create</commandText>
		<parameters>
			<param name="@translation_detail_description" type="VarChar" size="50" direction="Input" />
			<param name="@translation_detail_key" type="VarChar" size="75" direction="Input" />
			<param name="@translation_detail_type" type="VarChar" size="25" direction="Input" />
			<param name="@translation_master_id" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateTranslationDetail" type="StoredProcedure">
		<commandText>cl_TranslationDetail_Update</commandText>
		<parameters>
			<param name="@translation_detail_id" type="Int" size="4" direction="Input" />
			<param name="@translation_detail_description" type="VarChar" size="50" direction="Input" />
			<param name="@translation_detail_key" type="VarChar" size="75" direction="Input" />
			<param name="@translation_detail_type" type="VarChar" size="25" direction="Input" />
			<param name="@translation_master_id" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteTranslationDetail" type="StoredProcedure">
		<commandText>cl_TranslationDetail_Delete</commandText>
		<parameters>
			<param name="@translation_detail_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadTranslationDetail" type="StoredProcedure">
		<commandText>cl_TranslationDetail_Read</commandText>
		<parameters>
			<param name="@translation_detail_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllTranslationDetails" type="StoredProcedure">
		<commandText>cl_TranslationDetail_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadTranslationDetailsAllList" type="StoredProcedure">
		<commandText>cl_TranslationDetail_ReadAllList</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateTranslationMaster" type="StoredProcedure">
		<commandText>cl_TranslationMaster_Create</commandText>
		<parameters>
			<param name="@translation_master_description" type="VarChar" size="50" direction="Input" />
			<param name="@translation_master_name" type="VarChar" size="25" direction="Input" />
			<param name="@translation_master_type" type="VarChar" size="25" direction="Input" />
			<param name="@translation_master_version" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateTranslationMaster" type="StoredProcedure">
		<commandText>cl_TranslationMaster_Update</commandText>
		<parameters>
			<param name="@translation_master_id" type="Int" size="4" direction="Input" />
			<param name="@translation_master_description" type="VarChar" size="50" direction="Input" />
			<param name="@translation_master_name" type="VarChar" size="25" direction="Input" />
			<param name="@translation_master_type" type="VarChar" size="25" direction="Input" />
			<param name="@translation_master_version" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteTranslationMaster" type="StoredProcedure">
		<commandText>cl_TranslationMaster_Delete</commandText>
		<parameters>
			<param name="@translation_master_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadTranslationMaster" type="StoredProcedure">
		<commandText>cl_TranslationMaster_Read</commandText>
		<parameters>
			<param name="@translation_master_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllTranslationMasters" type="StoredProcedure">
		<commandText>cl_TranslationMaster_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadTranslationMastersAllList" type="StoredProcedure">
		<commandText>cl_TranslationMaster_ReadAllList</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadSortedPage" type="StoredProcedure">
		<commandText>cl_ReadSortedPage</commandText>
		<parameters>
			<param name="@TableName" type="VarChar" size="100" direction="Input" />
			<param name="@PrimaryKey" type="VarChar" size="100" direction="Input" />
			<param name="@Fields" type="VarChar" size="2000" direction="Input" />
			<param name="@Join" type="VarChar" size="2000" direction="Input" />
			<param name="@Filter" type="VarChar" size="2000" direction="Input" />
			<param name="@Order" type="VarChar" size="250" direction="Input" />
			<param name="@PageIndex" type="Int" size="10" direction="Input" />
			<param name="@PageSize" type="Int" size="10" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateEmail" type="StoredProcedure">
		<commandText>cl_Email_Create</commandText>
		<parameters>
			<param name="@email" type="VarChar" size="150" direction="Input" />
			<param name="@date_created" type="DateTime" size="8" direction="Input" />
			<param name="@last_email_sent" type="DateTime" size="8" direction="Input" />
			<param name="@person_id" type="VarChar" size="10" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
			<param name="@allowed_to_send" type="Bit" size="1" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateEmail" type="StoredProcedure">
		<commandText>cl_Email_Update</commandText>
		<parameters>
			<param name="@email_id" type="Int" size="4" direction="Input" />
			<param name="@email" type="VarChar" size="150" direction="Input" />
			<param name="@date_created" type="DateTime" size="8" direction="Input" />
			<param name="@last_email_sent" type="DateTime" size="8" direction="Input" />
			<param name="@person_id" type="VarChar" size="10" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
			<param name="@allowed_to_send" type="Bit" size="1" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteEmail" type="StoredProcedure">
		<commandText>cl_Email_Delete</commandText>
		<parameters>
			<param name="@email_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadEmail" type="StoredProcedure">
		<commandText>cl_Email_Read</commandText>
		<parameters>
			<param name="@email_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllEmails" type="StoredProcedure">
		<commandText>cl_Email_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadEmailsAllList" type="StoredProcedure">
		<commandText>cl_Email_ReadAllList</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadSortedPage" type="StoredProcedure">
		<commandText>cl_ReadSortedPage</commandText>
		<parameters>
			<param name="@TableName" type="VarChar" size="100" direction="Input" />
			<param name="@PrimaryKey" type="VarChar" size="100" direction="Input" />
			<param name="@Fields" type="VarChar" size="2000" direction="Input" />
			<param name="@Join" type="VarChar" size="2000" direction="Input" />
			<param name="@Filter" type="VarChar" size="2000" direction="Input" />
			<param name="@Order" type="VarChar" size="250" direction="Input" />
			<param name="@PageIndex" type="Int" size="10" direction="Input" />
			<param name="@PageSize" type="Int" size="10" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>	
	<dataCommand name="CreateAddress" type="StoredProcedure">
		<commandText>cl_Address_Create</commandText>
		<parameters>
			<param name="@associated_id" type="Int" size="4" direction="Input" />
			<param name="@address_type" type="VarChar" size="15" direction="Input" />
			<param name="@address_status" type="NVarChar" size="25" direction="Input" />
			<param name="@address_line1" type="NVarChar" size="200" direction="Input" />
			<param name="@address_line2" type="NVarChar" size="200" direction="Input" />
			<param name="@address_line3" type="NVarChar" size="200" direction="Input" />
			<param name="@city" type="NVarChar" size="200" direction="Input" />
			<param name="@state" type="NVarChar" size="50" direction="Input" />
			<param name="@zip_code" type="VarChar" size="50" direction="Input" />
			<param name="@country" type="NVarChar" size="50" direction="Input" />
			<param name="@day_phone" type="VarChar" size="50" direction="Input" />
			<param name="@night_phone" type="VarChar" size="50" direction="Input" />
			<param name="@cell_phone" type="VarChar" size="50" direction="Input" />
			<param name="@fax_number" type="VarChar" size="50" direction="Input" />
			<param name="@region" type="NVarChar" size="50" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateAddress" type="StoredProcedure">
		<commandText>cl_Address_Update</commandText>
		<parameters>
			<param name="@address_id" type="Int" size="4" direction="Input" />
			<param name="@associated_id" type="Int" size="4" direction="Input" />
			<param name="@address_type" type="VarChar" size="15" direction="Input" />
			<param name="@address_status" type="NVarChar" size="25" direction="Input" />
			<param name="@address_line1" type="NVarChar" size="200" direction="Input" />
			<param name="@address_line2" type="NVarChar" size="200" direction="Input" />
			<param name="@address_line3" type="NVarChar" size="200" direction="Input" />
			<param name="@city" type="NVarChar" size="200" direction="Input" />
			<param name="@state" type="NVarChar" size="50" direction="Input" />
			<param name="@zip_code" type="VarChar" size="50" direction="Input" />
			<param name="@country" type="NVarChar" size="50" direction="Input" />
			<param name="@day_phone" type="VarChar" size="50" direction="Input" />
			<param name="@night_phone" type="VarChar" size="50" direction="Input" />
			<param name="@cell_phone" type="VarChar" size="50" direction="Input" />
			<param name="@fax_number" type="VarChar" size="50" direction="Input" />
			<param name="@region" type="NVarChar" size="50" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteAddress" type="StoredProcedure">
		<commandText>cl_Address_Delete</commandText>
		<parameters>
			<param name="@address_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAddress" type="StoredProcedure">
		<commandText>cl_Address_Read</commandText>
		<parameters>
			<param name="@address_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllAddresss" type="StoredProcedure">
		<commandText>cl_Address_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateMember" type="StoredProcedure">
		<commandText>cl_Member_Create</commandText>
		<parameters>
			<param name="@person_id" type="VarChar" size="10" direction="Input" />
			<param name="@mailing_address_id" type="Int" size="4" direction="Input" />
			<param name="@member_type" type="VarChar" size="25" direction="Input" />
			<param name="@member_status" type="VarChar" size="15" direction="Input" />
			<param name="@firstname" type="NVarChar" size="50" direction="Input" />
			<param name="@middlename" type="NVarChar" size="50" direction="Input" />
			<param name="@lastname" type="NVarChar" size="50" direction="Input" />
			<param name="@email" type="NVarChar" size="100" direction="Input" />
			<param name="@birth_date" type="DateTime" size="8" direction="Input" />
			<param name="@password" type="NVarChar" size="15" direction="Input" />
			<param name="@date_created" type="DateTime" size="8" direction="Input" />
			<param name="@display_name" type="NVarChar" size="50" direction="Input" />
			<param name="@notes" type="NVarChar" size="4000" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateMember" type="StoredProcedure">
		<commandText>cl_Member_Update</commandText>
		<parameters>
			<param name="@member_id" type="Int" size="4" direction="Input" />
			<param name="@person_id" type="VarChar" size="10" direction="Input" />
			<param name="@mailing_address_id" type="Int" size="4" direction="Input" />
			<param name="@member_type" type="VarChar" size="25" direction="Input" />
			<param name="@member_status" type="VarChar" size="15" direction="Input" />
			<param name="@firstname" type="NVarChar" size="50" direction="Input" />
			<param name="@middlename" type="NVarChar" size="50" direction="Input" />
			<param name="@lastname" type="NVarChar" size="50" direction="Input" />
			<param name="@email" type="NVarChar" size="100" direction="Input" />
			<param name="@birth_date" type="DateTime" size="8" direction="Input" />
			<param name="@password" type="NVarChar" size="15" direction="Input" />
			<param name="@date_created" type="DateTime" size="8" direction="Input" />
			<param name="@display_name" type="NVarChar" size="50" direction="Input" />
			<param name="@notes" type="NVarChar" size="4000" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteMember" type="StoredProcedure">
		<commandText>cl_Member_Delete</commandText>
		<parameters>
			<param name="@member_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadMember" type="StoredProcedure">
		<commandText>cl_Member_Read</commandText>
		<parameters>
			<param name="@member_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllMembers" type="StoredProcedure">
		<commandText>cl_Member_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateFindPersonOptions" type="StoredProcedure">
		<commandText>cl_FindPersonOptions_Create</commandText>
		<parameters>
			<param name="@date_created" type="DateTime" size="8" direction="Input" />
			<param name="@person_id" type="VarChar" size="15" direction="Input" />
			<param name="@option_code" type="VarChar" size="2" direction="Input" />
			<param name="@option_description" type="VarChar" size="50" direction="Input" />
			<param name="@option_order" type="VarChar" size="1" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateFindPersonOptions" type="StoredProcedure">
		<commandText>cl_FindPersonOptions_Update</commandText>
		<parameters>
			<param name="@find_person_options_id" type="Int" size="4" direction="Input" />
			<param name="@date_created" type="DateTime" size="8" direction="Input" />
			<param name="@person_id" type="VarChar" size="15" direction="Input" />
			<param name="@option_code" type="VarChar" size="2" direction="Input" />
			<param name="@option_description" type="VarChar" size="50" direction="Input" />
			<param name="@option_order" type="VarChar" size="1" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteFindPersonOptions" type="StoredProcedure">
		<commandText>cl_FindPersonOptions_Delete</commandText>
		<parameters>
			<param name="@find_person_options_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadFindPersonOptions" type="StoredProcedure">
		<commandText>cl_FindPersonOptions_Read</commandText>
		<parameters>
			<param name="@find_person_options_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllFindPersonOptionss" type="StoredProcedure">
		<commandText>cl_FindPersonOptions_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadSortedPage" type="StoredProcedure">
		<commandText>cl_ReadSortedPage</commandText>
		<parameters>
			<param name="@TableName" type="VarChar" size="100" direction="Input" />
			<param name="@PrimaryKey" type="VarChar" size="100" direction="Input" />
			<param name="@Fields" type="VarChar" size="2000" direction="Input" />
			<param name="@Join" type="VarChar" size="2000" direction="Input" />
			<param name="@Filter" type="VarChar" size="2000" direction="Input" />
			<param name="@Order" type="VarChar" size="250" direction="Input" />
			<param name="@PageIndex" type="Int" size="10" direction="Input" />
			<param name="@PageSize" type="Int" size="10" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
</dataOperations>
