<div class="panel-body">                                                      
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="dateProblemsReportId" class="col-sm-2 control-label">Retrieved:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <select class="form-control" id="dateProblemsReportId">
                        <option value="0">Select</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="dateProblemsRetrieveButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-retrieve24 dialog-buttons btn-retrieve-find"></i> Retrieve</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="dateProblemsResearchType" class="col-sm-2 control-label">Research:</label>
            <div class="col-sm-3">
                <select class="form-control researchType" id="dateProblemsResearchType">
                    <option>Ancestors</option>
                    <option>Descendants</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="dateProblemsPersonId" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <select class="form-control" id="dateProblemsPersonId"></select>
                    <span class="input-group-btn">
                        <button id="dateProblemsFindPersonButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-search24 dialog-buttons btn-retrieve-find"></i> Find</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="dateProblemsGeneration" class="col-sm-2 control-label">Generations:</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div id="dateProblemsGenerationDiv"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Problems:</label>
            <div class="col-sm-10" style="margin-top: 10px;">
                <div class="input-group">
                    <input id="dateProblemsEmpty" type="checkbox" /><label for="datesdateProblemsEmpty">&nbsp;&nbsp;<span style="font-weight: normal">Empty</span></label>&nbsp;&nbsp;
                    <input id="dateProblemsInvalid" type="checkbox"/><label for="datesdateProblemsInvalid">&nbsp;&nbsp;<span style="font-weight: normal">Invalid</span></label>&nbsp;&nbsp;
                    <input id="dateProblemsInvalidFormat" type="checkbox"/><label for="datesdateProblemsInvalidFormat">&nbsp;&nbsp;<span style="font-weight: normal">Invalid Format</span></label>&nbsp;&nbsp;
                    <input id="dateProblemsIncomplete" type="checkbox"/><label for="datesdateProblemsIncomplete">&nbsp;&nbsp;<span style="font-weight: normal">Incomplete</span></label>&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="text-center">
                <button id="dateProblemsSubmitButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-submit24 dialog-buttons"></i> Date Problems</button>
                <button type='button' id="dateProblemsPreviousButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-previous24 dialog-buttons"></i> Previous</button>
                <button type='button' id="dateProblemsResetButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-reset24 dialog-buttons"></i> Reset</button>
                <button type='button' id="dateProblemsHelpButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-help24 dialog-buttons"></i> Help</button>
                <button type='button' id="dateProblemsCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
            </div>
        </div>
    </form>
</div>
<div id="dateProblemsSpinner"/>

<script type="text/javascript">require(['main'], function (main) { require(['dateProblemsController']); });</script>




