<form class="form-horizontal" style="margin-top: -2px" action=" " method="post" id="featuresform">
    <iframe src="https://player.vimeo.com/video/96324885?title=0&amp;byline=0&amp;portrait=0"  align="middle" width="870" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <div class="col-lg-12">
        <hr />
        <div class="text-center">
            <button id="featuresSubmitButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-submit24 dialog-buttons"></i> Try It Now</button>
            <button type='button' id="featuresTutorialButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-help24 dialog-buttons"></i> Tutorial</button>
            <button type='button' id="featuresCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
        </div>
    </div>
  
</form>

<div id="featuresSpinner" />

<script type="text/javascript">require(['main'], function (main) { require(['featuresController']); });</script>