<div class="panel-body" >
    <form class="form-horizontal dialog-options" role="form">
        <div style="height: 545px; overflow-y: auto">
            <div class="panel panel-primary" style="float: left; width: 49%">
                <div class="panel-heading">Available</div>
                <div class="panel-body">
                    <ul id="available" class="list-group"></ul>
                </div>
            </div>
            <div class="panel panel-primary" style="float: right; width: 49%">
                <div class="panel-heading">Selected</div>
                <div class="panel-body">
                    <ul id="selected" class="list-group"></ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <hr />
            <div class="text-center">
                <button id="findPersonOptionSaveButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left" type="button"><i class="fa fmf-save24 dialog-buttons"></i> Save</button>
                <button id="findPersonOptionCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left" type="button"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
            </div>
        </div>
    </form>
</div>
<div id="findPersonOptionsSpinner" />

<script type="text/javascript">require(['main'], function (main) { require(['findPersonOptionsController']); });</script>




