<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="findCluesReportId" class="col-sm-2 control-label">Retrieved:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <select class="form-control" id="findCluesReportId">
                        <option value="0">Select</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="findCluesRetrieveButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-retrieve24 dialog-buttons btn-retrieve-find"></i> Retrieve</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="findCluesResearchType" class="col-sm-2 control-label">Research:</label>
            <div class="col-sm-3">
                <select class="form-control researchType" id="findCluesResearchType">
                    <option>Ancestors</option>
                    <option>Descendants</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="findCluesPersonId" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <select class="form-control" id="findCluesPersonId"></select>
                    <span class="input-group-btn">
                        <button id="findCluesFindPersonButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-search24 dialog-buttons btn-retrieve-find"></i> Find</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="findCluesGenerationDiv" class="col-sm-2 control-label">Generations:</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div id="findCluesGenerationDiv"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="findCluesSearchCriteria" class="col-sm-2 control-label">Criteria:<span class="fa fmf-help16" rel="criteriaTooltip" title="Anyone of these or all can be used to determine if an ancestor meets a certain criteria"></span></label>
            <div class="col-sm-10">
                <select class="form-control" id="findCluesSearchCriteria"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="findCluesGapInChildren" class="col-sm-2 control-label">Child Gap:<span class="fa fmf-help16" rel="gapTooltip" title="Gap is used when checking if the gap in years between children is to long"></span></label>
            <div class="col-sm-10">
                <select class="form-control select2Digit" id="findCluesGapInChildren">
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="findCluesAgeLimit" class="col-sm-2 control-label">Age Limit:<span class="fa fmf-help16" rel="ageTooltip" title="Age limit is used when determining if they lived long enough to be married or have children"></span></label>
            <div class="col-sm-10">
                <select class="form-control select2Digit" id="findCluesAgeLimit">
                    <option selected>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="text-center">
                <button id="findCluesSubmitButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-clue24 dialog-buttons"></i> Find Clues</button>
                <button type='button' id="findCluesPreviousButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-previous24 dialog-buttons"></i> Previous</button>
                <button type='button' id="findCluesResetButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-reset24 dialog-buttons"></i> Reset</button>
                <div class="btn-group">
                    <button type="button" id="findCluesHelpButton" class=" btn-u btn-brd btn-brd-hover rounded btn-u-blue btn btn-primary dropdown-toggle" data-toggle="dropdown" data-style="expand-left">
                        <i class="fa fmf-help24 dialog-buttons"></i>
                        Help
                    </button>
                    <ul class="dropdown-menu help-dropdown" role="menu">
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Tutorial</a></li>
                    </ul>
                </div>
                <button type='button' id="findCluesCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
            </div>
        </div>

    </form>
</div>
<div id="findCluesSpinner"/>

<script type="text/javascript">require(['main'], function (main) { require(['findCluesController']); });</script>
