<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="hintsReportId" class="col-sm-2 control-label">Retrieved:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <select class="form-control" id="hintsReportId">
                        <option value="0">Select</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="hintsRetrieveButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-retrieve24 dialog-buttons btn-retrieve-find"></i> Retrieve</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="hintsResearchType" class="col-sm-2 control-label">Research:</label>
            <div class="col-sm-3">
                <select class="form-control researchType" id="hintsResearchType">
                    <option>Ancestors</option>
                    <option>Descendants</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="hintsPersonId" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <select class="form-control" id="hintsPersonId"></select>
                    <span class="input-group-btn">
                        <button id="hintsFindPersonButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-search24 dialog-buttons btn-retrieve-find"></i> Find</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="hintsGenerationDiv" class="col-sm-2 control-label">Generations:</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div id="hintsGenerationDiv"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" >Sort By:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="radio">
                        <label><input type="radio" id="hintsTopScore" name="optradio" checked="checked">Top Score</label>&nbsp;&nbsp;
                        <label><input type="radio" id="hintsCount" name="optradio">Count</label>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="text-center">
                <button id="hintsSubmitButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-submit24 dialog-buttons"></i> Find Hints</button>
                <button type='button' id="hintsPreviousButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-previous24 dialog-buttons"></i> Previous</button>
                <button type='button' id="hintsResetButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-reset24 dialog-buttons"></i> Reset</button>
                <button type='button' id="hintsHelpButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-help24 dialog-buttons"></i> Help</button>
                <button type='button' id="hintsCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
            </div>
        </div>
    </form>
</div>
<div id="hintsSpinner"/>

<script type="text/javascript">require(['main'], function (main) { require(['hintsController']); });</script>




