<style type="text/css">

    .hintsReportTable {
        overflow-x: visible !important;
        overflow-y: visible !important;
    }

    .personInfo {
        background: rgba(240, 240, 240, .99);
        width: 400px;
        height: 260px;
        padding: 7px;
        float: none;
        margin-left: 100px !important;
        margin-right: 100px !important;
        box-shadow: 4px 7px 5px 2px rgba(200, 200, 200, 0.1);
        border: 1px solid rgb(168, 168, 168);
        border-radius: 10px;
        display: none;
    }
</style>

<div class ="report-table">
    <table id="hintsReportTable"
           data-toggle="table"
           data-height="800"
           data-pagesize="50"
           data-pagelist="[10, 25, 50, 100, 200]"
           data-pagination="true"
           data-search="false"
           data-show-refresh="false"
           data-show-toggle="false"
           data-show-columns="false"
           data-toolbar="#toolbar"
           data-click-to-select="false"
           data-single-select="false">
        <thead>
            <tr>
                <th data-field="Name" data-formatter="nameFormatter" data-events="nameEvents" class="name-colom">Name</th>
                <th data-field="Hints" data-formatter="hintsFormatter">Hints</th>
            </tr>
        </thead>
    </table>
    <br />
</div>

<div class="row">
<div class="text-center">
    <button id="hintsReportSaveButton" class ="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class ="fa fmf-save24 dialog-buttons"></i> Save </button>
    <button type='button' id="hintsReportOptionsButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-options24 dialog-buttons"></i> Options </button>
                <div class="btn-group">
                    <button type="button" id="hintsReportHelpButton" class=" btn-u btn-brd btn-brd-hover rounded btn-u-blue btn btn-primary dropdown-toggle" data-toggle="dropdown" data-style="expand-left">
                        <i class="fa fmf-help24 dialog-buttons"></i>
                        Help
                    </button>
                    <ul class="dropdown-menu help-dropdown" role="menu">
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Tutorial</a></li>
                    </ul>
                </div>
    <button type='button' id="hintsReportCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close </button>
</div>
</div>
<div id="hintsReportSpinner" />

<div id="personInfoDiv" class="personInfo">
    <div id="content"></div>
</div>

<script type="text/javascript" src="~/Content/js/vendor/bootstrap-table.min.js"></script>
<script type="text/javascript">require(['main'], function (main) { require(['hintsReportController']); });</script>
