<div class="panel-body">                                                      
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="ordinancesReportId" class="col-sm-2 control-label">Retrieved:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <select class="form-control" id="ordinancesReportId">
                        <option value="0">Select</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="ordinancesRetrieveButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fmf24-retrieve" style="font-size:22px; margin-top: -0.24em; margin-bottom: -.1em; vertical-align: middle"></i> Retrieve</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="ordinancesResearchType" class="col-sm-2 control-label">Research:</label>
            <div class="col-sm-10">
                <select class="form-control researchType" id="ordinancesResearchType">
                    <option>Ancestors</option>
                    <option>Descendants</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="ordinancesPersonId" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <input id="ordinancesPersonId" type="text" class="form-control" disabled>
                    <span class="input-group-btn">
                            <button id="ordinancesFindPersonButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fmf24-Search" style =" font-size: 22px; vertical-align: middle; margin-top : -0.225em"></i> Find</button>
	                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="ordinancesGeneration" class="col-sm-2 control-label">Generations:</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div id="ordinancesGenerationDiv"></div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="ordinancesSpinner" style="position: fixed; top: 50%; left: 50%"></div>

<script type="text/javascript">
    $(function () {
        var scriptTag = document.createElement("script");
        scriptTag.src = "/Views/Home/Research/IncompleteOrdinances/IncompleteOrdinances.js";
        document.head.appendChild(scriptTag);
    });
</script>


@*<script type="text/javascript" src="~/Views/Home/Research/IncompleteOrdinances/IncompleteOrdinances.js"></script>*@
