<div class="panel-body">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="personUrlOptionsYearRange" class="col-sm-5 control-label">Year Range:</label>
            <div class="col-sm-3">
                <select class="form-control select2Digit" id="personUrlOptionsYearRange">
                    <option>0</option>
                    <option>1</option>
                    <option selected>2</option>
                    <option>5</option>
                    <option>10</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="personUrlOptionsMaidenName" class="col-sm-5 control-label">Options:</label>
            <div class="col-sm-7" style="margin-top: 9px;">
                <div class="input-group">
                    <input id="personUrlOptionsMaidenName" type="checkbox" /><label for="personUrlOptionsMaidenName">&nbsp;<span style="font-weight: normal">Maiden Name</span></label>&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="personUrlOptionsMiddleName" class="col-sm-5 control-label">&nbsp;</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <input id="personUrlOptionsMiddleName" type="checkbox" /><label for="personUrlOptionsMiddleName">&nbsp;<span style="font-weight: normal">Middle Name</span></label>&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="personUrlOptionsPlace" class="col-sm-5 control-label">&nbsp;</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <input id="personUrlOptionsPlace" type="checkbox" /><label for="personUrlOptionsPlace">&nbsp;<span style="font-weight: normal">Place</span></label>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="text-center">
                <button id="personUrlOptionsOkButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-ok24 dialog-buttons"></i> OK</button>
                <div class="btn-group">
                    <button type="button" id="helpButton" class=" btn-u btn-brd btn-brd-hover rounded btn-u-blue btn btn-primary dropdown-toggle" data-toggle="dropdown" data-style="expand-left">
                        <i class="fa fmf-help24 dialog-buttons"></i>
                        Help
                    </button>
                    <ul class="dropdown-menu help-dropdown" role="menu">
                        <li>
                            <a href="#">Video</a>
                        </li>
                        <li>
                            <a href="#">Tutorial</a>
                        </li>
                    </ul>
                </div>
                <button id="personUrlOptionsCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
            </div>
        </div>
    </form>
</div>

<div id="personUrlOptionsSpinner"/>

<script type="text/javascript">require(['main'], function (main) { require(['personUrlOptionsController']); });</script>
