<div class ="report-table">
    <table id="placeProblemsReportTable"
           data-toggle="table"
           data-height="800"
           data-pagesize="50"
           data-pagelist="[10, 25, 50, 100, 200]"
           data-pagination="true"
           data-search="false"
           data-show-refresh="false"
           data-show-toggle="false"
           data-show-columns="false"
           data-toolbar="#toolbar"
           data-click-to-select="false"
           data-single-select="false">
        <thead>
            <tr>
                <th data-field="Name" data-formatter="nameFormatter" data-events="nameEvents" class="name-colom">Name</th>
                <th data-field="BirthPlace" data-formatter="placeProblemsFormatter">Birth</th>
                <th data-field="DeathPlace" data-formatter="placeProblemsFormatter">Death</th>
                <th data-field="MarriagePlace" data-formatter="placeProblemsFormatter">Marriage</th>
            </tr>
        </thead>
    </table>
    <br />
</div>

<div class="row">
<div class="text-center">
    <button id="placeProblemsReportSaveButton" class ="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class ="fa fmf-save24 dialog-buttons"></i> Save </button>
    <button type='button' id="placeProblemsReportOptionsButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-options24 dialog-buttons"></i> Options </button>
                <div class="btn-group">
                    <button type="button" id="placeProblemsReportHelpButton" class=" btn-u btn-brd btn-brd-hover rounded btn-u-blue btn btn-primary dropdown-toggle" data-toggle="dropdown" data-style="expand-left">
                        <i class="fa fmf-help24 dialog-buttons"></i>
                        Help
                    </button>
                    <ul class="dropdown-menu help-dropdown" role="menu">
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Tutorial</a></li>
                    </ul>
                </div>
    <button type='button' id="placeProblemsReportCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close </button>
</div>
</div>
<div id="placeProblemsReportSpinner" />

<div id="placeProblemsReportPersonInfoDiv" class="personInfo">
    <div id="placeProblemsReportPersonInfoContent"></div>
</div>

<script type="text/javascript" src="~/Content/js/vendor/bootstrap-table.min.js"></script>
<script type="text/javascript">require(['main'], function (main) { require(['placeProblemsReportController']); });</script>
