<div class="panel-body">                                                      
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="possibleDuplicatesReportId" class="col-sm-2 control-label">Retrieved:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <select class="form-control" id="possibleDuplicatesReportId">
                        <option value="0">Select</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="possibleDuplicatesRetrieveButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-retrieve24 dialog-buttons btn-retrieve-find"></i> Retrieve</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="possibleDuplicatesResearchType" class="col-sm-2 control-label">Research:</label>
            <div class="col-sm-3">
                <select class="form-control researchType" id="possibleDuplicatesResearchType">
                    <option>Ancestors</option>
                    <option>Descendants</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="possibleDuplicatesPersonId" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <select class="form-control" id="possibleDuplicatesPersonId"></select>
                    <span class="input-group-btn">
                        <button id="possibleDuplicatesFindPersonButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-search24 dialog-buttons btn-retrieve-find"></i> Find</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="possibleDuplicatesGenerationDiv" class="col-sm-2 control-label">Generations:</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div id="possibleDuplicatesGenerationDiv"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="includePossibleDuplicates" class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
                <div id="checkBoxes">
                          <input id="includePossibleDuplicates" type="checkbox" /><label for="includePossibleDuplicates" style="margin-bottom: 0px;">&nbsp;<span style="font-weight: normal">Possible Duplicates</span></label>&nbsp;&nbsp;<br />
                          <input id="includePossibleMatches" type="checkbox" /><label for="includePossibleMatches" style="margin-bottom: 0px;">&nbsp;<span style="font-weight: normal">Possible Matches</span></label>&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="text-center">
                <button id="possibleDuplicatesSubmitButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-submit24 dialog-buttons"></i> Submit</button>
                <button id="possibleDuplicatesPreviousButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-previous24 dialog-buttons"></i> Previous</button>
                <button id="possibleDuplicatesResetButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-reset24 dialog-buttons"></i> Reset</button>
                <button id="possibleDuplicatesHelpButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-help24 dialog-buttons"></i> Help</button>
                <button id="possibleDuplicatesCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
            </div>
        </div>
    </form>
</div>
<div id="possibleDuplicatesSpinner"/>

<script type="text/javascript">require(['main'], function (main) { require(['possibleDuplicatesController']); });</script>




