<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="startingPointReportId" class="col-sm-2 control-label">Retrieved:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <select class="form-control" id="startingPointReportId">
                        <option value="0">Select</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="startingPointRetrieveButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-retrieve24 dialog-buttons btn-retrieve-find"></i> Retrieve</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="startingPointResearchType" class="col-sm-2 control-label">Research:</label>
            <div class="col-sm-3">
                <select class="form-control researchType" id="startingPointResearchType">
                    <option>Ancestors</option>
                    <option>Descendants</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="startingPointPersonId" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <select class="form-control" id="startingPointPersonId"></select>
                    <span class="input-group-btn">
                        <button id="startingPointFindPersonButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-search24 dialog-buttons btn-retrieve-find"></i> Find</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="startingPointGenerationDiv" class="col-sm-2 control-label">Generations:</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <div id="startingPointGenerationDiv"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" id ="optionLabel">Options:</label>
            <div class="col-sm-10" style="margin-top: 10px;">
                <div class="input-group">
                    <input id="startingPointNonMormon" type="checkbox" /><label for="startingPointNonMormon">&nbsp;<span style="font-weight: normal; color: rgb(255,0,0)">Non-Mormon</span></label>&nbsp;&nbsp;
                    <input id="startingPointBorn18101850" type="checkbox" /><label for="startingPointBorn18101850">&nbsp;<span style="font-weight: normal">Born 1810-1850</span></label>&nbsp;&nbsp;
                    <input id="startingPointLivedInUSA" type="checkbox" /><label for="startingPointLivedInUSA">&nbsp;<span style="font-weight: normal">Lived in USA</span></label>&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="startingPointIncompleteOrdinances" class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input id="startingPointOrdinances" type="checkbox"/><label for="startingPointOrdinances">&nbsp;<span style="font-weight: normal; color: rgb(255,0,0)">IncompleteOrdinances</span></label>&nbsp;&nbsp;
                    <input id="startingPointHints" type="checkbox"/><label for="startingPointHints">&nbsp;<span style="font-weight: normal; color: rgb(255,0,0)">Hints</span></label>&nbsp;&nbsp;
                    <input id="startingPointDuplicates" type="checkbox"/><label for="startingPointDuplicates">&nbsp;<span style="font-weight: normal; color: rgb(255,0,0)">Possible Duplicates</span></label>&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="text-center">
                <button id="startingPointSubmitButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-green" data-style="expand-left"><i class="fa fmf-submit24 dialog-buttons"></i> Submit</button>
                <button id="startingPointPreviousButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-previous24 dialog-buttons"></i> Previous</button>
                <button id="startingPointResetButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-reset24 dialog-buttons"></i> Reset</button>
                <button id="startingPointHelpButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-help24 dialog-buttons"></i> Help</button>
                <button id="startingPointCloseButton" class="btn-u btn-brd btn-brd-hover rounded btn-u-blue" data-style="expand-left"><i class="fa fmf-close24 dialog-buttons"></i> Close</button>
            </div>
        </div>
    </form>
</div>
<div id="startingPointSpinner"/>

<script type="text/javascript">require(['main'], function (main) { require(['startingPointController']); });</script>




