<?xml version="1.0" encoding="utf-8" ?>
<dataOperations>
	<dataCommand name="CreateNextID" type="StoredProcedure">
		<commandText>cl_NextID_Create</commandText>
		<parameters>
			<param name="@next_val" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateNextID" type="StoredProcedure">
		<commandText>cl_NextID_Update</commandText>
		<parameters>
			<param name="@table_id" type="VarChar" size="50" direction="Input" />
			<param name="@next_val" type="Int" size="4" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteNextID" type="StoredProcedure">
		<commandText>cl_NextID_Delete</commandText>
		<parameters>
			<param name="@table_id" type="VarChar" size="50" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadNextID" type="StoredProcedure">
		<commandText>cl_NextID_Read</commandText>
		<parameters>
			<param name="@table_id" type="VarChar" size="50" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllNextIDs" type="StoredProcedure">
		<commandText>cl_NextID_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="CreateReport" type="StoredProcedure">
		<commandText>cl_Report_Create</commandText>
		<parameters>
			<param name="@report_date" type="DateTime" size="8" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
			<param name="@user_id" type="VarChar" size="10" direction="Input" />
			<param name="@person_id" type="VarChar" size="10" direction="Input" />
			<param name="@person_name" type="VarChar" size="50" direction="Input" />
			<param name="@report_file" type="NVarChar" size="200" direction="Input" />
			<param name="@report_description" type="VarChar" size="200" direction="Input" />
			<param name="@records" type="VarChar" size="4" direction="Input" />
			<param name="@research_type" type="VarChar" size="15" direction="Input" />
			<param name="@generation" type="VarChar" size="1" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="UpdateReport" type="StoredProcedure">
		<commandText>cl_Report_Update</commandText>
		<parameters>
			<param name="@report_id" type="Int" size="4" direction="Input" />
			<param name="@report_date" type="DateTime" size="8" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
			<param name="@user_id" type="VarChar" size="10" direction="Input" />
			<param name="@person_id" type="VarChar" size="10" direction="Input" />
			<param name="@person_name" type="VarChar" size="50" direction="Input" />
			<param name="@report_file" type="NVarChar" size="200" direction="Input" />
			<param name="@report_description" type="VarChar" size="200" direction="Input" />
			<param name="@records" type="VarChar" size="4" direction="Input" />
			<param name="@research_type" type="VarChar" size="15" direction="Input" />
			<param name="@generation" type="VarChar" size="1" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="DeleteReport" type="StoredProcedure">
		<commandText>cl_Report_Delete</commandText>
		<parameters>
			<param name="@report_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadReport" type="StoredProcedure">
		<commandText>cl_Report_Read</commandText>
		<parameters>
			<param name="@report_id" type="Int" size="4" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadAllReports" type="StoredProcedure">
		<commandText>cl_Report_ReadAll</commandText>
		<parameters>
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
	<dataCommand name="ReadSortedPage" type="StoredProcedure">
		<commandText>cl_ReadSortedPage</commandText>
		<parameters>
			<param name="@TableName" type="VarChar" size="100" direction="Input" />
			<param name="@PrimaryKey" type="VarChar" size="100" direction="Input" />
			<param name="@Fields" type="VarChar" size="2000" direction="Input" />
			<param name="@Join" type="VarChar" size="2000" direction="Input" />
			<param name="@Filter" type="VarChar" size="2000" direction="Input" />
			<param name="@Order" type="VarChar" size="250" direction="Input" />
			<param name="@PageIndex" type="Int" size="10" direction="Input" />
			<param name="@PageSize" type="Int" size="10" direction="Input" />
			<param name="@language_id" type="VarChar" size="10" direction="Input" />
		</parameters>
	</dataCommand>
</dataOperations>
