<!-- Monthly Newsletter -->
<div class="headline"><h2>Monthly Newsletter</h2></div> 
<p class="margin-bottom-25 md-margin-bottom-40">Subscribe to our newsletter to learn new research techniques for using this web site, and read questions and comments from those who have used the web site to find their families.</p><br />
<form id="subscribeForm" name="subscribeForm" class="footer-subsribe" role="form">

    <input id="email" type="email" class="form-control" placeholder="Email Address" required/>
    <button id="subscribe" class="btn btn-default btn-success btn-u-default btn-submit" type="submit" value="Subscribe">Subscribe</button>
    
</form>

